In [1]:
import requests
from requests_oauthlib import OAuth1
import pandas as pd

In [2]:
import cnfg
config = cnfg.load(".twitter_config")

oauth = OAuth1(config["consumer_key"],
               config["consumer_secret"],
               config["access_token"],
               config["access_token_secret"])

In [3]:
import pandas as pd
import tweepy

auth = tweepy.OAuthHandler(config["consumer_key"],
                           config["consumer_secret"])
auth.set_access_token(config["access_token"],
                      config["access_token_secret"])

api = tweepy.API(auth, wait_on_rate_limit=True)

In [4]:
max_tweets=2000

In [5]:
def structure_results(results):
    id_list=[tweet.id for tweet in results]
    data=pd.DataFrame(id_list,columns=['id'])
    
    data["text"]= [tweet.text.encode('utf-8') for tweet in results]
    data["datetime"]=[tweet.created_at for tweet in results]
    data["Location"]=[tweet.place for tweet in results]
    
    return data

In [6]:
results_bit = []

for tweet in tweepy.Cursor(api.search,q="bitcoin").items(max_tweets):
    results_bit.append(tweet)

data_bit=structure_results(results_bit)
data_bit.head()

,id,text,datetime,Location
0,1482837567175286790,b'RT @AarikaRhodes: I\xe2\x80\x99m running aga...,2022-01-16 22:10:00,None
1,1482837566395019267,b'@TheMoonCarl Earn $80 when you sign up at ki...,2022-01-16 22:10:00,None
2,1482837566143479814,b'Continuing our research on $UNO\xf0\x9f\x94\...,2022-01-16 22:10:00,None
3,1482837566126800896,"b'Bitcoin subiu :) - R$\xc2\xa0238.809,4 \xc3\...",2022-01-16 22:10:00,None
4,1482837565644410886,b'RT @AshleyPurdy: \xf0\x9f\x98\xa1 \xf0\x9f\x...,2022-01-16 22:10:00,None

In [7]:
data_bit.to_csv('data_bit.csv')

In [8]:
results_eth = []

for tweet in tweepy.Cursor(api.search,q="ethereum").items(max_tweets):
    results_eth.append(tweet)

data_eth=structure_results(results_eth)
data_eth.head()

,id,text,datetime,Location
0,1482837810096836610,"b""RT @RTRcrypto: Let's go!\n\n@FEGtoken\n@life...",2022-01-16 22:10:58,None
1,1482837800705789952,b'RT @bigcats_nft: The Big Cats will produce a...,2022-01-16 22:10:56,None
2,1482837799518752768,b'RT @GooniezNFT: Sneak Peek: Ethereum Halo Go...,2022-01-16 22:10:55,None
3,1482837791008567301,b'RT @jpatten__: Some of the @Treasure_DAO art...,2022-01-16 22:10:53,None
4,1482837787703394307,b'RT @GooniezNFT: Sneak Peek: Ethereum Halo Go...,2022-01-16 22:10:53,None

In [9]:
data_eth.to_csv('data_eth.csv')

In [10]:
results_bnb = []

for tweet in tweepy.Cursor(api.search,q="binance").items(max_tweets):
    results_bnb.append(tweet)

data_bnb=structure_results(results_bnb)
data_bnb.head()

,id,text,datetime,Location
0,1482842032897138690,b'RT @MetakingsAI: \xf0\x9f\x8f\x86\xf0\x9f\x8...,2022-01-16 22:27:45,None
1,1482842029675581440,b'RT @missufe: $150 | 2.100.000 IDR IN 12 HRS ...,2022-01-16 22:27:44,None
2,1482842029134602252,b'@BabyDogeCoin @cz_binance #BabyDoge',2022-01-16 22:27:44,None
3,1482842029067587585,b'@ingenious_geek @decentraland @bloktopia @Th...,2022-01-16 22:27:44,None
4,1482842026982973443,b'RT @cryptot81124402: Which #crypto should @b...,2022-01-16 22:27:43,None

In [11]:
data_bnb.to_csv('data_bnb.csv')

In [12]:
results_tet = []

for tweet in tweepy.Cursor(api.search,q="tether").items(max_tweets):
    results_tet.append(tweet)

data_tet=structure_results(results_tet)
data_tet.head()

,id,text,datetime,Location
0,1482845765823188995,b'RT @GoldTelegraph_: Tether executives are un...,2022-01-16 22:42:35,None
1,1482845324473470980,b'RT @GoldTelegraph_: Tether executives are un...,2022-01-16 22:40:49,None
2,1482844716513341441,b'@Massive_game #KODIV2 #KODI2022 #NFTs #Pitch...,2022-01-16 22:38:24,None
3,1482844697773047808,b'RT @HamEggsnSam: Now do #Tether!',2022-01-16 22:38:20,None
4,1482844663736422410,b'@Massive_game #KODIV2 #KODI2022 #NFTs #Pitch...,2022-01-16 22:38:12,None

In [13]:
data_tet.to_csv('data_tet.csv')

In [14]:
results_sol = []

for tweet in tweepy.Cursor(api.search,q="solana").items(max_tweets):
    results_sol.append(tweet)

data_sol=structure_results(results_sol)
data_sol.head()

,id,text,datetime,Location
0,1482849519167741953,b'RT @nftsonsolana: \xf0\x9f\x8e\x81GIVEAWAY\x...,2022-01-16 22:57:30,None
1,1482849518022688769,b'#Airdrop $atomsolana #atomsolana #solana htt...,2022-01-16 22:57:29,None
2,1482849516512755712,b'RT @hernanlafalce: What do you expect from ...,2022-01-16 22:57:29,None
3,1482849515220656133,b'The @AmaraFinance Airdrop Contest is Live! #...,2022-01-16 22:57:29,None
4,1482849513849204736,b'RT @CryptHomeSchool: Going be Back on the Sp...,2022-01-16 22:57:28,None

In [15]:
data_sol.to_csv('data_sol.csv')